{% extends 'base_login_register.html.twig' %}
{% block title %}:: Legends :: Mot de passe oublié{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{form_start(form)}}
    <div class="auth option2 flex-column background-legend">
        <div class="mt-5">
            {% include 'partials/_flash_meessages.html.twig' %}
        </div>
        <div class="auth_left">
            <div class="card card-legend">
                <div class="card-body">
                    <div class="text-center">
                        <a class="header-brand" href={{ path('index')}}>
                            <div class="stack" style="--stacks: 3;">
                                <span style="--index: 0;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512.png")}}" alt="Logo"></span>
                                <span style="--index: 1;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512.png")}}" alt="Logo"></span>
                                <span style="--index: 2;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512.png")}}" alt="Logo"></span>
                            </div>
                        </a>

                        <div class="card-title">
                            Mot de passe oublié ?
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">E-mail*</label>
                        {{ form_widget(form.email,{'attr': {'class': 'form-control','placeholder':"E-mail"}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-legend">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{form_end(form)}}
{% endblock %}
