{% extends 'base.html.twig' %}
{% block title %}:: Legends :: Login{% endblock %}

{% block body %}
{#        {% if app.user %}#}
{#            <div class="mb-3">#}
{#                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#            </div>#}
    <form class="auth option2  flex-column  background-legend" method="post">
        {% if error %}
            <div class="alert alert-danger flash-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="mt-5">
            {% include 'partials/_flash_meessages.html.twig' %}
        </div>
            <div class="auth_left">
                <div class="card card-legend">
                    <div class="card-body">
                        <div class="text-center">
                            <a class="header-brand" href={{ path('index')}}>
                                <img class="brand-logo" src="{{asset("assets/images/logo2_512x512.png")}}" alt="Logo">
                            </a>
                            <div class="card-title mt-3 mb-3">
                                SE CONNECTER À LEGENDS
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{ last_username }}" name="username" placeholder="Nom d'utilisateur" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block btn-legend" title="">
                                Connexion
                            </button>
                            <div class="text-muted text-left">
                                <a href={{ path('forget_password')}} class="text-white"> Mot de passe oublié</a>
                            </div>
                            <div class="text-muted mt-2 text-center">
                                Vous n'avez pas de compte ?
                                <a href={{ path('app_register')}} class="text-white"> Inscription</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}
