{% extends 'base_login_register.html.twig' %}
{% block title %}:: Legends :: Inscription{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{form_start(form)}}
    <div class="auth option2 flex-column background-legend">
        {% include 'partials/_flash_meessages.html.twig' %}
        <div class="auth_left">
            <div class="card card-legend">
                <div class="card-body">
                    <div class="text-center">
                        <a class="header-brand" href={{ path('index')}}>
                            <div class="stack" style="--stacks: 3;">
                                <span style="--index: 0;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512.png")}}" alt="Logo"></span>
                                <span style="--index: 1;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512.png")}}" alt="Logo"></span>
                                <span style="--index: 2;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512.png")}}" alt="Logo"></span>
                            </div>
                        </a>

                        <div class="card-title">
                            Devenez une légende et créez votre compte maintenant
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">E-mail*</label>
                        {{ form_widget(form.email,{'attr': {'class': 'form-control','placeholder':"E-mail"}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Nom d'utilisateur*</label>
                        {{ form_widget(form.userNameGame,{'attr': {'class': 'form-control','placeholder':"nom d'utilisateur"}}) }}
                        {{ form_errors(form.userNameGame) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Mot de passe*</label>
                        {{ form_widget(form.password,{'attr': {'class': 'form-control','placeholder':"Mot de passe"}}) }}
                        {{ form_errors(form.password) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Confirmation du mot de passe*</label>
                        {{ form_widget(form.passwordChecked,{'attr': {'class': 'form-control','placeholder':"Confirmation"}}) }}
                        {{ form_errors(form.passwordChecked) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-legend">Inscription</button>
                        <div class="text-muted mt-4">Vous avez déjà un compte ? <a href={{ path('app_login')}} class="text-white">Connexion</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{form_end(form)}}
{% endblock %}
