{% extends 'base_panel.html.twig' %}
{% block title %}:: Legends :: Questions whitelist{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/dataTables.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}>
{% endblock %}

{% block title_page %}Questions{% endblock %}
{% block title_page2 %}Questions {% endblock %}
{% block body %}
    <!-- Start Page title and tab -->
    <div class="section-body mt-4">
        <div class="container-fluid">
            {% include 'partials/_flash_meessages.html.twig' %}
            <div class="tab-content">
                <div class="tab-pane active" id="Library-all">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Language</th>
                                        <th>Question</th>
                                        <th>Autheur</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for question in questions %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ question.title }}</td>
                                            <td>{{ question.language.code }}</td>
                                            <td>{{ question.question }}</td>
                                            <td>{{ question.Author.userNameGame }}</td>
                                            <td><a href={{ path('question', {'id': question.id}) }} class="btn btn-icon btn-sm" title="View"><i class="fa fa-edit"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{#    <!-- Start Plugin Js -->#}
    <script src={{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}} ></script>
    <script src={{ asset('assets/bundles/dataTables.bundle.js')}} ></script>
    <script src={{ asset('assets/plugins/sweetalert/sweetalert.min.js')}} ></script>

{#    <!-- Start project main js  and page js -->#}
    <script src={{ asset('assets/js/page/dialogs.js')}} ></script>
    <script src={{ asset('assets/js/table/datatable.js')}} ></script>
{% endblock %}
