{% extends 'base_panel.html.twig' %}
{% block title %}:: Legends :: Ajouter questions whitelist {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/dropify/css/dropify.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/summernote/dist/summernote.css') }}>
    <link rel="stylesheet" href={{ asset('assets/css/questions.css') }}>
{% endblock %}
{% block title_page %}Questions /  Modifier {% endblock %}
{% block title_page2 %}Questions /  Modifier {% endblock %}

{% block body %}
    <div class="section-body mt-4">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="pro-add">
                    <div class="row clearfix">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Basic Information</h3>
                                    <div class="card-options ">
                                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                    </div>
                                </div>
                                {{ form_start(form) }}
                                    <div class="card-body">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Titre</label>
                                                <div class="error-form">
                                                    {{ form_errors(form.title) }}
                                                </div>
                                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>Langue</label>
                                                <div class="form-check d-flex justify-content-between">
                                                    {% for language in form.language %}
                                                        <div class="error-form">
                                                            {{ form_errors(language) }}
                                                        </div>
                                                        <div class="input-language">
                                                            {{ form_widget(language, {'attr': {'class': 'form-check-input'}}) }}
                                                            <label class="form-check-label" for="flexCheckCheckedDisabled">
                                                                {{ language.vars.label }}
                                                            </label><img class="w20 ml-2" src="{{ asset('assets/images/flags/'~language.vars.value |lower~'.svg') }}" alt="">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mt-2 mb-3">
                                                <label>Image</label>
                                                <div class="error-form">
                                                    {{ form_errors(form.image) }}
                                                </div>
                                                {{ form_widget(form.image, {'attr': {'class': 'dropify'}}) }}
                                                <small id="fileHelp" class="form-text text-muted">Glissez votre image ou appuyer pour la parcourir.</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mt-3">
                                                <label>Question</label>
                                                <div class="error-form">
                                                    {{ form_errors(form.question) }}
                                                </div>
                                                {{ form_widget(form.question, {'attr': {'class': 'form-control no-resize', 'rows' : '4'}}) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary">Modifier</button>
                                        </div>
                                    </div>
                                </div>
                                {{form_end(form)}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Images</h3>
                                    <div class="card-options ">
                                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="yes">
                                                {% for image in images %}
                                                    {% set imageButton = "RemoveImgPreview"~loop.index %}
                                                    {% set imageId = "ImgPreview"~loop.index %}
                                                    <img id={{ imageId }} src={{ asset('assets/images/uploads_whitelist/brochures/'~images[loop.index0]) }} class="it" />
                                                    <input type="button" id={{ imageButton }} value="x" class="rmv" />
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src={{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}} ></script>
    <script src={{ asset('assets/plugins/dropify/js/dropify.min.js')}} ></script>
    <script src={{ asset('assets/js/form/dropify.js')}} ></script>
    <script src={{ asset('assets/plugins/sweetalert/sweetalert.min.js')}} ></script>
    <script src={{ asset('assets/js/questionScript.js')}} ></script>
{% endblock %}