<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane active" id="Library-all">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5 text-center">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Identifier</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Date de naissance</th>
                                    <th>Métier</th>
                                    <th>Grade</th>
                                    <th>Temps de travail(min)</th>
                                    <th>RIB</th>
                                    <th>Montant à payer</th>
                                    <th>Payer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for membre in list_members %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ membre.identifier }}</td>
                                        <td>{{ membre.firstName }}</td>
                                        <td>{{ membre.lastName }}</td>
                                        <td>{{ membre.birthDate }}</td>
                                        <td><span class="tag tag-blue">{{ membre.job }}</span></td>
                                        <td>{{ membre.jobGrade }}</td>
                                        <td>{{ membre.totalServiceTime }}</td>
                                        <td>
                                        {% set accounts = membre.addonAccounts %}
                                        {% if accounts|length == 1 %}
                                            {{ accounts[0].rib }}
                                        {% else %}
                                            {% for account in accounts %}
                                                {% if account.faction is null and account.current %}
                                                    {{ account.rib }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </td>
                                        <td class="text-info font-weight-bold">
                                            <span class="tag tag-success">{{ membre.amountToPay }} $</span>
                                        </td>
                                        <td class="text-info font-weight-bold">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src={{ asset('assets/js/table/datatable.js')}} ></script>
{% endblock %}
