<div id="logo-lspd" class="pt-5 pb-5 justify-content-center d-flex">
    <img src="{{ asset(logoImage)}}" alt="Logo"  style="width: 10%;" >
</div>
<div class="date-error justify-content-center" style="display: none">
    <h5 class="text-danger">Veuillez saisir une date valide</h5>
</div>
<div class="d-flex justify-content-center">
    <div class="form-group row">
        <label class="col-md-4 col-form-label"><span class="tag tag-primary">Date début</span></label>
        <div class="col-md-7">
            <input data-provide="datepicker" data-date-autoclose="true" class="form-control date" placeholder="" id="date-begin">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label"><span class="tag tag-danger">Date fin</span></label>
        <div class="col-md-7">
            <input data-provide="datepicker" data-date-autoclose="true" class="form-control date" placeholder="" id="date-end">
        </div>
    </div>
    <div class="form-group row">
        <button id="applyDateChange" type="button" class="btn btn-info" data-job="{{ dataJob }}">Appliquer</button>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card px-0 p-5 pt-4 pb-0 mt-3 mb-3 no-data w-75">
        <div class="form-card d-flex justify-content-center align-items-center">
            <h3> Pas de résultat</h3>
        </div>
    </div>
    <div id="logo-load" class="pt-5 pb-5 justify-content-center" style="display: none">
        <img src="{{ asset("assets/images/logo2_512x512_shadow.png")}}" alt="Logo"  style="width: 45%;" >
    </div>
</div>
<div class="resultat"></div>