{% for message in app.flashes('success') %}
    <div class="alert alert-success flash-message">
    {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}