<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ asset('assets/css/styleSocial.css') }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href={{asset("assets/images/faviconR.ico")}} type="image/x-icon"/>
    <link rel="stylesheet" href={{asset("assets/plugins/bootstrap/css/bootstrap.min.css")}} />
    <link rel="stylesheet" href={{asset("assets/css/style.css")}} />

    <!-- FontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">

    <!-- Core css -->
    <link rel="stylesheet" href={{asset("assets/css/style.min.css")}} />
    <title>:: Legends :: Connect to Steam & Discord</title>
</head>
{#<body class="background-legend vh-100">#}
{#<div class="section-body" id="page_top" >#}
{#    <div class="container-fluid">#}
{#        <div class="page-header">#}
{#            <div class="right flex-fill">#}
{#                <div class="d-flex flex-grow-1 justify-content-center">#}
{#                    {% include 'partials/_flash_meessages.html.twig' %}#}
{#                </div>#}
{#                <a class="btn btn-danger btn-legend" href={{ path('app_logout')}}>#}
{#                    <i class="fa fa-arrow-left pr-2" aria-hidden="true"></i>#}
{#                    Logout#}
{#                </a>#}
{#                <a href="{{ path('app_logout') }}" class="nav-link icon settingbar"><i class="fe fe-power text-danger"></i></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<div class="d-flex justify-content-center pt-5 title-page-connect">#}
{#    <div class="stack" style="--stacks: 3;">#}
{#        <span style="--index: 0;"><h2 class="text-white">Connectez vos comptes</h2></span>#}
{#        <span style="--index: 1;"><h2 class="text-white">Connectez vos comptes</h2></span>#}
{#        <span style="--index: 2;"><h2 class="text-white">Connectez vos comptes</h2></span>#}
{#    </div>#}
{#    <h2 class="text-white">Connectez vos comptes</h2>#}
{#</div>#}
{#<div class="center">#}
{#    <div class="wrapper">#}
{#        {% if (steamHidden is not same as true) %}#}
{#            <a href= {{ path('auth_steam_discord', {action: 'steam'}) }}  class="pr-5" >#}
{#            <div class="container container--steam">#}
{#                <div class="box box--middle card-legend">#}
{#                    <img src={{ asset('assets/images/steam.png') }} alt="steam" class="ion">#}
{#                </div>#}
{#                <span class="follow follow--middle">#}
{#                     <div class="stack" style="--stacks: 3;">#}
{#                        <span style="--index: 0;">Connect</span>#}
{#                        <span style="--index: 1;">Connect</span>#}
{#                        <span style="--index: 2;">Connect</span>#}
{#                    </div>#}
{#                </span>#}
{#            </div>#}
{#        </a>#}
{#        {% endif %}#}
{#        {% if (discordHidden is not same as true) %}#}
{#            <a href={{ path('auth_steam_discord', {action: 'discord'}) }}>#}
{#                <div class="container container--discord">#}
{#                    <div class="box box--middle card-legend">#}
{#                        <img src={{ asset('assets/images/Discord.svg.png') }} alt="discord" class="ion">#}
{#                    </div>#}
{#                    <span class="follow follow--middle">#}
{#                         <div class="stack" style="--stacks: 3;">#}
{#                            <span style="--index: 0;">Connect</span>#}
{#                            <span style="--index: 1;">Connect</span>#}
{#                            <span style="--index: 2;">Connect</span>#}
{#                        </div>#}
{#                    </span>#}
{#                </div>#}
{#            </a>#}
{#        {% endif %}#}
{#    </div>#}
{#</div>#}

{#<!-- jQuery -->#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#<script>#}
{#    $(document).ready(function () #}{#}#}
{#        window.setTimeout(function() #}{#}#}
{#            $(".alert").fadeTo(300, 0).slideUp(300, function()#}{#}#}
{#                $(this).remove();#}
{#            });#}
{#        }, 2500);#}

{#    });#}
{#</script>#}
{#</body>#}
{#</html>#}
{#{% extends 'base.html.twig' %}#}
{#{% block title %}:: Legends :: Connect to Steam & Discord{% endblock %}#}

{#{% block body %}#}
<body class="background-legend">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a class="btn btn-danger btn-legend" href={{ path('app_logout')}}>
            <i class="fa fa-arrow-left pr-2" aria-hidden="true"></i>
            Se déconnecter
        </a>
    </div>
    <form class="auth d-flex flex-column align-items-center" method="post">
        {% include 'partials/_flash_meessages.html.twig' %}
        <div class="frame-cart d-flex align-items-center vh-100">
            <div class="card card-legend">
                <div class="card-body">
                    <div class="text-center">
                            <img class="brand-logo" src="{{asset("assets/images/logo2_512x512.png")}}" alt="Logo">
                        <div class="card-title mt-3 mb-3 text-white">
                            Connectez vos comptes
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        {% if (discordHidden is not same as true) %}
                            <a href={{ path('auth_steam_discord', {action: 'discord'}) }} class="social-media d-flex flex-row justify-content-center">
                                <div class="social-media-logo discord">
                                    <img src="{{ asset('assets/images/discordWhite25x25.png') }}" alt="">
                                </div>
                                <div class="social-media-text">
                                    Se connecter avec Discord
                                </div>
                            </a>
                        {% endif %}
                        {% if (steamHidden is not same as true) %}
                        <a href={{ path('auth_steam_discord', {action: 'steam'}) }} class="social-media d-flex flex-row justify-content-center">
                            <div class="social-media-logo steam">
                                <svg viewBox="0 0 20 20"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg"
                                     class="sc-dkIXZx iHYQqd">
                                    <path d="M9.98273 0C4.72031 0 0.409375 4.05061 0 9.19787L5.36906 11.4139C5.83788 11.0929 6.39467 10.9212 6.96484 10.9219C7.01813 10.9219 7.07078 10.9234 7.12266 10.9262L9.51062 7.47088V7.4225C9.51062 5.34333 11.2052 3.65136 13.2882 3.65136C15.3712 3.65136 17.0657 5.34333 17.0657 7.4225C17.0657 9.5016 15.3712 11.1943 13.2882 11.1943C13.2593 11.1943 13.2312 11.1936 13.2024 11.1929L9.79672 13.6178C9.79891 13.6628 9.80031 13.7077 9.80031 13.7519C9.80031 15.3133 8.5282 16.5833 6.96484 16.5833C5.5925 16.5833 4.4443 15.605 4.18484 14.3102L0.344531 12.7251C1.53383 16.9226 5.39711 20 9.98273 20C15.5154 20 20 15.5223 20 10C20 4.47706 15.5154 0 9.98273 0ZM6.2775 15.1733L5.04711 14.6657C5.26484 15.1191 5.6425 15.4984 6.14344 15.7067C7.22602 16.1573 8.47437 15.6447 8.92562 14.563C9.14409 14.0429 9.14538 13.4584 8.92922 12.9373C8.71297 12.4126 8.3043 12.0033 7.78031 11.7851C7.25922 11.5691 6.70133 11.5769 6.21117 11.7616L7.48266 12.2864C8.28125 12.6187 8.65891 13.5341 8.32594 14.3313C7.99367 15.1284 7.07609 15.5056 6.2775 15.1733ZM15.8054 7.4225C15.8054 6.03719 14.6759 4.90923 13.2884 4.90923C11.9002 4.90923 10.7708 6.03719 10.7708 7.4225C10.7708 8.8079 11.9002 9.93516 13.2884 9.93516C14.6759 9.93516 15.8054 8.8079 15.8054 7.4225ZM11.4015 7.41825C11.4015 6.37585 12.2484 5.53098 13.2921 5.53098C14.3365 5.53098 15.1834 6.37585 15.1834 7.41825C15.1834 8.46066 14.3365 9.3056 13.292 9.3056C12.2484 9.3056 11.4015 8.46058 11.4015 7.41825Z" fill="currentColor"></path>
                                </svg>
                            </div>
                            <div class="social-media-text">
                                Se connecter avec Steam
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <div class="copyright mt-3 text-white">
                            © 2022, Legends, Inc. Tous droits réservés
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            window.setTimeout(function() {
                $(".alert").fadeTo(300, 0).slideUp(300, function() {
                    $(this).remove();
                });
            }, 2500);

        });
    </script>
</body>
</html>
{#{% endblock %}#}
