{% form_theme form _self %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="icon" href={{asset("assets/images/faviconR.ico")}} type="image/x-icon"/>
    <link rel="stylesheet" href={{asset("assets/css/style-steps.css")}} />
    <!-- FontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
    <!-- Core css -->
    <link rel="stylesheet" href={{ asset("assets/css/style.min.css") }} />
    <link rel="stylesheet" href={{ asset("assets/css/style.css")}} />
    <link rel="stylesheet" href={{ asset("assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")}} />
    <link rel="stylesheet" href={{ asset("assets/plugins/summernote/dist/summernote.css") }} />


    <title>:: Legends :: Whitelist</title>
</head>
<body  class="vh-100" style="background: url('{{ asset('assets/images/backgroundWebSite.png') }}')">
<div class="container-fluid">
    {% include 'partials/_flash_meessages.html.twig' %}
    <div class="row justify-content-end pr-5 pt-3">
        <div class="notification d-flex">
            <div class="dropdown d-flex">
                <a class="btn btn-danger btn-legend" href={{ path('app_logout')}}>
                    <i class="fa fa-arrow-left pr-2" aria-hidden="true"></i>
                    Se déconnecter
                </a>
{#                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1 language-icons" data-toggle="dropdown"><i class="fas fa-globe-americas"></i></a>#}
{#                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">#}
{#                    <a class="dropdown-item" href={{ path('white_list', {language: 'FR'}) }}><img class="w20 mr-2" src="../assets/images/flags/bl.svg" alt="">France</a>#}
{#                    <a class="dropdown-item" href={{ path('white_list', {language: 'EN'}) }}><img class="w20 mr-2" src="../assets/images/flags/us.svg" alt="">English</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 p-2 pt-2 pb-0 mt-2 mb-2 card-legend">
                {{form_start(form)}}
                <div id="msform">
{#                    <div class="progress">#}
{#                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div> #}
                    <br> <!-- fieldsets -->
                    {% for line in form.whiteListResponse %}
                        {% set lineValue = line.vars.value %}
                        {% set lineFirst = loop.first %}
                        {% set lineLast = loop.last %}
                        <fieldset>
                            <div class="d-flex flex-row flex-wrap justify-content-center">
                                {% for image in lineValue.question.images %}
                                    <img class="brand-logo w-100 p-2" src="{{ asset("assets/images/uploads_whitelist/brochures/" ~ image) }}" alt="Image">
                                {% else %}
                                    <div class="stack" style="--stacks: 3;">
                                        <span style="--index: 0;"><img class="brand-logo" src="{{asset("assets/images/logo2_whitelist-red-ombre.png")}}" alt="Logo"></span>
                                        <span style="--index: 1;"><img class="brand-logo" src="{{asset("assets/images/logo2_whitelist-red-ombre.png")}}" alt="Logo"></span>
                                        <span style="--index: 2;"><img class="brand-logo" src="{{asset("assets/images/logo2_whitelist-red-ombre.png")}}" alt="Logo"></span>
                                    </div>
{#                                    <img class="brand-logo w-50" src="{{asset("assets/images/logo2_whitelist-red-ombre.png")}}" alt="Logo">#}
                                {% endfor %}
                            </div>
                            <h3 class="text-center text-white"> {{ lineValue.question.title }}</h3>

                            <div class="form-card">
                                    <p class="text-center"> {{ lineValue.question.question }}</p>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="error-form">
                                            {{ form_errors(line.firstName) }}
                                        </div>
                                        {{ form_widget(line.firstName, {'attr': {'class': 'form-control', 'placeholder' : 'Prénom'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="error-form">
                                            {{ form_errors(line.lastName) }}
                                        </div>
                                        {{ form_widget(line.lastName, {'attr': {'class': 'form-control', 'placeholder' : 'Nom'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        {{ form_widget(
                                            line.birthDate,
                                            {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder' : 'Date de naissance',
                                                    'data-provide':'datepicker',
                                                    'data-date-autoclose':'true',
                                                    'placeholder':'Date de naissance'
                                                }
                                            }
                                        ) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form_row(line.response, {
                                        'attr': {
                                            'placeholder': 'Entrez votre background',
                                            'maxlength': '8000',
                                            'class': 'form-control textarea',
                                            'rows': '5',
                                            'required': 'true',
                                        }
                                    }) }}
                                </div>
                            </div>
                            {% if lineFirst is not same as (true)  %}
                                <button type="button" name="previous" class="previous action-button-previous rounded btn-legend" value="Previous"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</button>
                            {% endif %}
                            {% if lineLast is not same as (true)  %}
                                <button type="button" name="next" class="next action-button rounded btn-legend" value="Next" class="rounded">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            {% endif %}
                            {% if  lineLast is same as (true) %}
                                <button type="submit" name="submit" class="submit action-button rounded btn-legend" value="submit" class="rounded">VALIDER</button>
                            {% endif %}
                        </fieldset>
                    {% endfor %}
                </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src={{ asset("assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") }}></script>
<script src={{ asset("assets/bundles/summernote.bundle.js") }}></script>
<script src={{ asset("assets/js/page/summernote.js") }}></script>
<script src={{  asset("assets/js/stepsJs.js") }}></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function() {
            $(".alert").fadeTo(300, 0).slideUp(300, function(){
                $(this).remove();
            });
        }, 2500);

    });
</script>
</body>
</html>