{% extends 'template_display_message.html.twig' %}
{% block title %}:: Legends :: Welcome{% endblock %}

{% block logo_error %}
    <img class="brand-logo" src="{{asset("assets/images/logo2_512x512.png")}}" alt="Logo">
{% endblock %}
{% block fa %}
    {% if icon is defined and icon is not null %}
        {% if icon == 'bouncer' %}
            <div class="bouncer">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        {% else %}
            <i class="{{ icon }}"></i>
        {% endif %}
    {% endif %}
{#    {% else %}#}
{#        {% if icon == 'bouncer' %}#}
{#        <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>#}
{#    {% endif %}#}
{% endblock %}
{% block message %}{{ message }}<br>{% if discord is not null %}<a href={{ discord }}><img class="w-50" src="{{ asset('assets/images/Discord-text.png') }}"></a>{% endif %}
{% endblock %}
{% block urlRedirection %}
        {% if isRewriteWL is same as (false) %}
            <a class="btn btn-danger btn-legend" href={{ path('app_logout')}}>
                <i class="fa fa-arrow-left pr-2" aria-hidden="true"></i>
                Se déconnecter
            </a>
        {% else %}
            <a class="btn btn-secondary text-white" id="rewrite-whitelist">
                <i class="fa fa-refresh pr-2" aria-hidden="true" ></i>
                Repasser la whitelist
            </a>
        {% endif %}
{% endblock %}

{% block javascripts %}
    <script src={{ asset('assets/js/whitelistValidation.js')}} ></script>
{% endblock %}
