{% extends 'base_panel.html.twig' %}
{% block title %}:: Legends :: Users Whitelist{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/dataTables.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}>
{% endblock %}

{% block title_page %}Users Whitelist{% endblock %}
{% block title_page2 %}Users Whitelist {% endblock %}
{% block body %}
    <!-- Start Page title and tab -->
    <div class="section-body mt-4">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="Library-all">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Date de création</th>
                                            <th>Steam_Id</th>
                                            <th>Discord_Id</th>
                                            <th>Status</th>
                                            <th>Verifier</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in list_users %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ user.userNameGame }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.createdAt|date("d/m/Y") }}</td>
                                            <td>{{ user.steamId }}</td>
                                            <td>{{ user.discordId }}</td>
                                            <td>
                                                {% if  user.statsWhitelist == 'pending'  %}
                                                    <span class="tag tag-warning">{{ user.statsWhitelist }}</span>
                                                {% elseif user.statsWhitelist == 'rejected'%}
                                                    <span class="tag tag-danger">{{ user.statsWhitelist }}</span>
                                                {% elseif user.statsWhitelist == 'voice interview'%}
                                                    <span class="tag tag-info">{{ user.statsWhitelist }}</span>
                                                {% elseif user.statsWhitelist == 'accepted'%}
                                                    <span class="tag tag-success">{{ user.statsWhitelist }}</span>
                                                {% else %}
                                                    <span class="tag tag-dark">{{ user.statsWhitelist }}</span>
                                                {% endif %}
                                            </td>
                                            <td class=""><a href={{ path('listusers_user_validation', {'username': user.userNameGame}) }} class="btn btn-icon btn-sm" title="View"><i class="fa fa-edit"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- Start Plugin Js -->
    <script src={{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}} ></script>
    <script src={{ asset('assets/bundles/dataTables.bundle.js')}} ></script>
    <script src={{ asset('assets/plugins/sweetalert/sweetalert.min.js')}} ></script>

    <!-- Start project main js  and page js -->
    <script src={{ asset('assets/js/page/dialogs.js')}} ></script>
    <script src={{ asset('assets/js/table/datatable.js')}} ></script>
{% endblock %}
