{% extends 'base_panel.html.twig' %}
{% block title %}:: Legends :: Whitelist validation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/dataTables.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}>
{% endblock %}

{% block title_page %}User Whitelist / modifier{% endblock %}
{% block title_page2 %}User Whitelist / modifier{% endblock %}

    {% set username = user.userNameGame %}
{% block body %}
    {% set lengthResponse =responses|length %}
    <div class="container-fluid">
        <div class="page-header">
            <div class="left flex-fill justify-content-center">
                {% include 'partials/_flash_meessages.html.twig' %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 text-center p-0 mt-3 mb-2">
                <div class="row clearfix row-deck">
                    <div class="col-6 col-md-4 col-xl-2">
                        <div class="card">
                            <div class="card-body ribbon">
                                <span class="my_sort_cut text-muted">
                                    <i class="fas fa-user-alt legend-font"></i>
                                    <span class="text-secondary font-weight-bold">{{ username }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <div class="card">
                            <div class="card-body ribbon">
                                <span class="my_sort_cut text-muted">
                                <i class="fas fa-tasks legend-font"></i>
                                <span class="text-secondary font-weight-bold">{{ user.statsWhitelist }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <div class="card">
                            <div class="card-body ribbon">
                                <span class="my_sort_cut text-muted">
                                    <i class="fas fa-money-check-alt legend-font"></i>
                                    <span class="text-secondary font-weight-bold">{{ user.priority }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <div class="card">
                            <div class="card-body ribbon">
                                <span class="my_sort_cut text-muted">
                                <i class="fab fa-steam legend-font"></i>
                                <span class="text-secondary font-weight-bold">{{ user.steamId }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <div class="card">
                            <div class="card-body ribbon">
                                <span class="my_sort_cut text-muted">
                                <i class="fab fa-discord legend-font"></i>
                                <span class="text-secondary font-weight-bold">{{ user.discordId }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <div class="card">
                            <div class="card-body ribbon">
                                <span class="my_sort_cut text-muted">
                                <i class="fas fa-calendar-alt legend-font"></i>
                                <span class="text-secondary font-weight-bold">{{ user.createdAt|date("d/m/Y") }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                {% if lengthResponse > 0 %}
                        {% set line =  responses|last %}
                        <div class="card px-0 p-5 pt-4 pb-0 mt-3 mb-3">
                            <h3 class="text-center"> {% if line.question.title is defined %}{{ line.question.title }}{% endif %}</h3>
                            <div class="d-flex flex-row flex-wrap justify-content-center">
                                {% for image in line.question.images %}
                                    <img class="brand-logo w-100 p-2" src="{{ asset("assets/images/uploads_whitelist/brochures/" ~ image) }}" alt="Image">
                                {% else %}
                                    <img class="brand-logo w-50" src="{{asset("assets/images/logo2_whitelist-red-ombre.png")}}" alt="Logo">
                                {% endfor %}
                            </div>
                            <div class="form-card">
                                <p class="text-center"> {% if line.question.question is defined %}{{ line.question.question }}{% endif %}</p>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-12">
                                    <input type="text" id="first_name_RP" class="form-control" value={{ firstName }} readonly>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="text" id="last_name_RP" class="form-control" value={{ lastName }} readonly>
                                </div>
                                <div class="col-md-12 col-sm-12 pt-3">
                                    <input type="text" id="birth_date_RP" class="form-control" value={{ birthDate }} readonly>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                </div>
                                <textarea name="answer" readonly class="form-control textarea" rows="6">
                                    {{ line.response }}
                                </textarea>
                            </div>
                        </div>
                {% else %}
                    <div class="card px-0 p-5 pt-4 pb-0 mt-3 mb-3">
                        <div class="form-card">
                            <h3 class="text-center"> Pas de réponse </h3>
                        </div>
                    </div>

                {% endif %}
            </div>
            {% if feedbackResponse is defined and feedbackResponse is not empty %}
                <div class="col-12">
                    <div class="container col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2 align-self-center">
                        <div class="card px-0 p-5 pt-4 pb-0 mt-3 mb-3 align-self-center">
                            <h3 class="text-center text-danger">Raison du refus</h3>

                            <div class="col-lg-12">
                                <div class="form-group">
                                </div>
                                <textarea name="answer" readonly class="form-control textarea" rows="6">
                                    {{ feedbackResponse.comment }}
                                </textarea>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p>Le : <span class="badge badge-info">{{ feedbackResponse.createdAt|date("d/m/Y") }}</span></p>
                                <p>By : <span class="badge badge-info">{{ feedbackResponse.author.userNameGame }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-8 text-center p-0 mt-3 mb-2">
                <div class="card px-0 p-5 pt-4 pb-0 mt-3 mb-3 d-flex flex-row justify-content-between" id="button_validation_whitelist">
                    {% set allStatus = {
                        'accepted' : 'Accepter',
                        'voice interview' : 'Entretien',
                        'rejected' : 'Rejeter'
                    } %}
                    {% set btnsStatus = {
                        'accepted' : 'btn-success ',
                        'voice interview' : 'btn-info',
                        'rejected' : 'btn-danger'
                    } %}
                    {% set iconsStatus = {
                        'accepted' : 'far fa-check-circle pr-3',
                        'voice interview' : 'fas fa-exclamation pr-3',
                        'rejected' : 'fas fa-times pr-3'
                    } %}
                    {% for key, value in  allStatus %}
                        {% if (user.statsWhitelist is not same as (key)) %}
                            <a type="button" class="btn {{btnsStatus[key] }} text-default"
                                    {% if key is not same as ('rejected') %}
                            href={{ path('listusers_user_validation',
                                {
                                    'username': username,
                                    status: key,
                                    firstName : firstName,
                                    lastName : lastName,
                                    birthDate : birthDate,
                                    steam : user.steamId,
                                }) }}
                            {% else %}
                            data-toggle="modal" data-target="#modalRejected"
                                    {% endif %}><i class="{{ iconsStatus[key] }}"></i>{{ value }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="modalRejected" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Raison du refus</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <span class="text-danger font-15 error-validation">Veuillez remplir le champ SVP Azééébiii</span>
                    <div class="md-form mb-5">
                        <textarea class="form-control textarea" rows="6" id="rejected-reason" value="">
                        </textarea>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="rejected-button" class="btn btn-danger text-default"
                            data-username = "{{ username }}"
                            data-status = "rejected"
                            data-firstname = "{{ firstName }}"
                            data-lastname = "{{ lastName }}"
                            data-birthdate = "{{ birthDate }}"
                            data-steamid = "{{ user.steamId }}"
                            data-userid = "{{ user.id }}"
                    >
                        <i class="fas fa-times pr-3 "></i>Rejeter
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src={{ asset('assets/js/whitelistValidation.js')}} ></script>
{% endblock %}