.yes {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px !important;
}
.it {
    height: 100px;
    margin-left: 10px;
}
.rmv {
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    display: inline-block;
    background: rgba(255, 0, 0, 1);
    margin: -5px -10px;
}

.rmv:hover {
    background: rgba(255, 0, 0, 0.5);
}

.btn-rmv{
    display: none;
}