body {
    font-family: 'Titillium Web', sans-serif !important;
    /*background: linear-gradient(45deg, #890310, #342d31);*/
}
.brand-logo {
    width : 50%;
}
.auth .form-group input{
    background : transparent !important;
    color: #dae0e5;
}
.auth .form-group input::selection {
    background : #003a61 !important;
    color : #dae0e5;
}
.auth .form-label {
    color : #dae0e5 !important;
}
.dark-mode .form-control, .dark-mode .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dark-mode .dataTables_filter, .dark-mode .input-group-append>.btn, .dark-mode .dataTables_wrapper .dataTables_paginate .input-group-append>.paginate_button, .dataTables_wrapper .dataTables_paginate .dark-mode .input-group-append>.paginate_button, .dark-mode .custom-select {
     background : #dae0e5 ;
}
.flash-message {
    top : 5%;
}
.title-error1 {
    color: #E8E9E9 !important;
}

/* bouncing balls */

.bouncer{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100px;*/
    height: 100px;
}

.bouncer div {
    width: 11px;
    height: 11px;
    background-color: #f5f5f5;
    border-radius: 50%;
    animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
    /* use https://cubic-bezier.com/ to customize the curve */
}

.bouncer div:nth-child(2) {
    animation-delay: 0.1s;
    opacity: 0.8;
}

.bouncer div:nth-child(3) {
    animation-delay: 0.2s;
    opacity: 0.6;
}

.bouncer div:nth-child(4) {
    animation-delay: 0.3s;
    opacity: 0.4;
}

@keyframes bouncer {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15px);
    }
}

.btn-legend{
    background: linear-gradient(45deg, #890310, #ff003b) !important;
    border: unset;
}
.btn-legend:hover {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(209,209,209,0.59);
    box-shadow: 0px 0px 6px 0px rgba(209,209,209,0.59);
}
a.text-white:hover{
    color: #890310 !important;
}
.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 1.5rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 60ms), glitch 1s ease infinite 1s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }
    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }
    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }
    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
}
.background-legend {
    background: url("../images/backgroundWebSite.png") !important;
}
.social-media {
    /*background: white;*/
    height: 50px;
    width: 100%;
    background: rgb(43, 43, 43);
    margin-bottom: .8vh;
    transition: 0.1s ease-in;
    border-radius: 5px;
}
.social-media:hover{
    background: rgb(54, 54, 54);
}
.social-media div {
}
.social-media-logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
}
.social-media-logo.discord {
    background: #6E85D3;
}
.social-media-logo.steam {
    background: rgb(20, 92, 143);
}
.social-media-logo.steam svg{
    width: 25px;
    color: white;
}
.social-media-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    text-align: center;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    flex:3;
}
.frame-cart{
    width: 400px;
    padding: 0 20px;
}
.copyright{
    font-size: 9px;
    font-weight: 200;
    line-height: 1.2;
    text-transform: uppercase;
}
.background-legend-whitelist{
    background: url("../../images/backgroundWebSite.png") !important;
}
#header_top{
    background: linear-gradient(180deg, #000000, #262626) !important;
}
.sidebar_dark .sidebar{
    background: linear-gradient(180deg, #0c0a0a, #640004) !important;
}
.dropdown-menu{
    background: linear-gradient(45deg, #890310, #342d31) !important;
}
.dropdown-menu .dropdown-item{
    color: #BABDBF !important;
}
.datepicker.datepicker-dropdown.dropdown-menu{
    background: linear-gradient(45deg, #f5f5f5, #342d31) !important;
}
.error-validation{
    display: none;
}
.logo-menu-img {
    width: 20px;
    padding-bottom: 4px;
    margin-right: 5%;
}

.spiner-legend{
    animation: easeInOutBack 3s cubic-bezier(0.68, -0.6, 0.32, 1.6) 1s infinite normal forwards;
    /* use https://cubic-bezier.com/ to customize the curve */
}
@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100%   { opacity: 0; }
}
@keyframes easeInOutBack {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulseEaseIn {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
        opacity: 0;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
        opacity: 0.4;
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
        opacity: 0.6;
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
        opacity: 0.8;
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
        opacity: 1;
    }
}
