{% extends 'base_panel.html.twig' %}
{% block title %}:: Legends :: LSPD {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/dataTables.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}>
{% endblock %}

{% block title_page %}LSPD{% endblock %}
{% block title_page2 %}LSPD{% endblock %}
{% block body %}
    <!-- Start Page title and tab -->
    {%
        include 'partials/_display_data_company.html.twig' with {
        'logoImage' : "assets/images/lspd_logo.png",
        'dataJob' : 'lspd'
        }
    %}
{% endblock %}
{% block javascripts %}
    <!-- Start Plugin Js -->
    <script src={{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}} ></script>
    <script src={{ asset('assets/bundles/dataTables.bundle.js')}} ></script>
    <script src={{ asset('assets/plugins/sweetalert/sweetalert.min.js')}} ></script>

    <!-- Start project main js  and page js -->
    <script src={{ asset('assets/js/page/dialogs.js')}} ></script>
    <script src={{ asset('assets/js/companyScript.js')}} ></script>

    <script>
        let dateNow = new Date();
        dateNow.setDate(dateNow.getDate() -7)
        console.log(dateNow)
        // $(".date").datepicker({
        //     format: "dd/mm/yyyy ",
        // });
        $('#date-begin').datepicker("setDate", dateNow);
        $('#date-end').datepicker("setDate", new Date());
    </script>
{% endblock %}
