{% extends 'base_panel.html.twig' %}
{% block title %}:: Legends :: Vehicles {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/dataTables.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}>
{% endblock %}

{% block title_page %}Vehicles{% endblock %}
{% block title_page2 %}Vehicles {% endblock %}
{% block body %}
    <!-- Start Page title and tab -->
    <div class="section-body mt-4">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="Library-all">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Image</th>
                                            <th>Nom du véhicule</th>
                                            <th>Modele</th>
                                            <th>Prix</th>
                                            <th>Catégorie</th>
                                            <th>Modifier</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for vehicle in list_vehicles %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>
                                                <img src="{{urlImages~vehicle.model|lower}}.png" alt="Logo">
                                            </td>
                                            <td>{{ vehicle.name }}</td>
                                            <td>{{ vehicle.model }}</td>
                                            <td>{{ vehicle.price }}</td>
                                            <td>{{ vehicle.category }}</td>
                                            <td class="">
                                                <a href={{ path('vehicle_page', {'vehicle': vehicle.model}) }} class="btn btn-icon btn-sm" title="View">
                                                <i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- Start Plugin Js -->
    <script src={{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}} ></script>
    <script src={{ asset('assets/bundles/dataTables.bundle.js')}} ></script>
    <script src={{ asset('assets/plugins/sweetalert/sweetalert.min.js')}} ></script>

    <!-- Start project main js  and page js -->
    <script src={{ asset('assets/js/page/dialogs.js')}} ></script>
    <script src={{ asset('assets/js/table/datatable.js')}} ></script>
{% endblock %}
