{% extends 'base_panel.html.twig' %}
{% block title %}:: Legends :: vehicle{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title_page %}Vehicule / modifier{% endblock %}
{% block title_page2 %}Vehicule / modifier{% endblock %}
{% block body %}
    {{form_start(form)}}
    <div class="auth flex-column" style="height: 80vh;">
        {% include 'partials/_flash_meessages.html.twig' %}
        <div class="auth_left" style="width: auto;">
            <div class="card">
                <div class="card-body" style="background: #400">
                    <div class="text-center mb-5">
                        <img src="{{urlImages~model|lower}}.png" alt="Logo">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Nom du vehicule</label>
                        {{ form_widget(form.name,{'attr': {'class': 'form-control','placeholder':"Nom du vehicule",'readonly':"readyonly"}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Modéle</label>
                        {{ form_widget(form.model,{'attr': {'class': 'form-control','placeholder':"Modéle",'readonly':"readyonly"}}) }}
                        {{ form_errors(form.model) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Prix</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text text-white">$</div>
                            </div>
                            {{ form_widget(form.price,{'attr': {'class': 'form-control','placeholder':"Prix"}}) }}
                            {{ form_errors(form.price) }}
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="form-label">Catégorie</label>
                        {{ form_widget(form.category,{'attr': {'class': 'form-control','placeholder':"Catégorie",'readonly':"readyonly"}}) }}
                        {{ form_errors(form.category) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-legend">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{form_end(form)}}
{% endblock %}
{% block javascripts %}
    <script src={{ asset('assets/js/whitelistValidation.js')}} ></script>
{% endblock %}