<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href={{asset("assets/images/faviconR.ico")}} type="image/x-icon"/>
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href={{asset("assets/plugins/bootstrap/css/bootstrap.min.css")}} />
    <link rel="stylesheet" href={{asset("assets/css/style.css")}} />

    <!-- Core css -->
    <link rel="stylesheet" href={{asset("assets/css/style.min.css")}} />
    {% block stylesheets %}
    {% endblock %}

</head>
    <body class="font-muli dark-mode gradient">
        {% block body %}

        {% endblock %}
        <script src={{  asset("assets/bundles/lib.vendor.bundle.js") }}></script>
        <script src={{  asset("assets/js/core.js") }}></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>

