<!doctype html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="icon" href={{asset("assets/images/faviconR.ico")}} type="image/x-icon"/>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href={{asset("assets/plugins/bootstrap/css/bootstrap.min.css")}} />
    <!-- Plugins css -->
    <link rel="stylesheet" href={{asset("assets/plugins/summernote/dist/summernote.css")}} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Core css -->
    <link rel="stylesheet" href={{asset("assets/css/style.min.css")}} />
    <link rel="stylesheet" href={{asset("assets/css/style.css")}} />

    {% block stylesheets %}
    {% endblock %}
</head>
    <body class="font-muli dark-mode gradient">
    {% block body %}

    {% endblock %}
    <script src={{  asset("assets/bundles/lib.vendor.bundle.js") }}></script>
    <script src={{  asset("assets/js/core.js") }}></script>

    <!-- Start all plugin js -->
    <script src={{ asset("assets/bundles/counterup.bundle.js") }}></script>
    <script src={{  asset("assets/bundles/apexcharts.bundle.js") }}></script>
    <script src={{  asset("assets/bundles/summernote.bundle.js") }}></script>

    <!-- Start project main js  and page js -->
    <script src={{  asset("assets/js/page/index.js") }}></script>
    <script src={{  asset("assets/js/page/summernote.js") }}></script>


    {% block javascripts %}
    {% endblock %}
    </body>

</html>
