<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href={{asset("assets/images/faviconR.ico")}} type="image/x-icon" />

    <title>{% block title %} Accueil {% endblock %}</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href={{asset("assets/plugins/bootstrap/css/bootstrap.min.css")}} />

    <!-- Plugins css -->
    <link rel="stylesheet" href={{asset("assets/plugins/summernote/dist/summernote.css")}} />
    <!-- FontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">

    <!-- Core css -->
    <link rel="stylesheet" href={{asset("assets/css/style.min.css")}} />
    <link rel="stylesheet" href={{asset("assets/css/style.css")}} />


    <!-- Media Query -->
    <link rel="stylesheet" href={{asset("assets/css/mediaquery.css")}} />
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="font-muli right_tb_toggle sidebar_dark">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>
<div id="main_content">
    <!-- Start Main top header -->
    <div id="header_top" class="header_top dark">
        <div class="container">
            <div class="hleft">
                <a class="header-brand" href="{{ path('panel')}}"><img src="{{ asset("assets/images/logo2_512x512.png")}}" alt="Logo" ></a>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fe fe-align-center"></i></a>
                </div>
            </div>
            <div class="hright">
                <a href="{{ path('app_logout') }}" class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
            </div>
        </div>
    </div>
    <!-- Start Main leftbar navigation -->
    <div id="left-sidebar" class="sidebar">
        <h5 class="brand-name">
            <a href="javascript:void(0)" class="menu_option float-right">
                <i class="icon-grid font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i>
            </a>
        </h5>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="{{ path('panel')}}">Legends Roleplay </a></li>
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="menu-uni" role="tabpanel">
                <nav class="sidebar-nav">
                    <ul class="metismenu">
                        <li class="g_heading">ACCEUIL</li>
                        <li><a href="{{ path('panel')}}"><i class="fa fa-home"></i><span>Accueil</span></a></li>
                        {% if ('ROLE_ADMIN' in app.user.roles or 'ROLE_WHITLISTER' in app.user.roles) %}
                            <li class="g_heading">WHITELISTE</li>
                            <li><a href="{{ path('listusers_list')}}"><i class="fa fa-users"></i><span>Gestion des whiteliste</span></a></li>
                            <li><a href="{{ path('questions')}}"><i class="fas fa-tasks"></i><span>Gestion des questions</span></a></li>
                        {% endif %}
                        {% if ('ROLE_ADMIN' in app.user.roles or 'ROLE_ECONOMY' in app.user.roles) %}
                            <li class="g_heading">CONCESSION</li>
                            <li><a href="{{ path('concession')}}"><i class="fas fa-car"></i><span>Vehicules</span></a></li>
                        {% endif %}
                        {% if ('ROLE_ADMIN' in app.user.roles or 'ROLE_LSPD_BOSS' in app.user.rolesor or 'ROLE_EMS_BOSS' in app.user.roles) %}
                            <li class="g_heading">FACTION</li>
                        {% endif %}
                        {% if ('ROLE_ADMIN' in app.user.roles or 'ROLE_LSPD_BOSS' in app.user.roles) %}
                            <li><a href="{{ path('lspd')}}">
                                    <img src="{{ asset("assets/images/police_icone_menu.png")}}" alt="Logo" class="logo-menu-img"><span>LSPD</span>
                                </a></li>
                        {% endif %}
                        {% if ('ROLE_ADMIN' in app.user.roles or 'ROLE_EMS_BOSS' in app.user.roles) %}
                            <li><a href="{{ path('ems')}}"><i class="fas fa-hospital"></i><span>EMS</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Start project content area -->
    <div class="page">
        <!-- Start Page header -->
        <div class="section-body" id="page_top" >
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left flex-fill justify-content-center">
                        {% include 'partials/_flash_meessages.html.twig' %}
                    </div>
                    <div class="right flex-fill justify-content-end">
                        <div class="notification d-flex">
                            <div class="dropdown d-flex">
                                <a href="javascript:void(0)" class="chip ml-3 font-weight-bold" data-toggle="dropdown">
                                    <i class="fe fe-user text-white"></i> {{ app.user.userNameGame }}</a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="{{ path('user_profile') }}"><i class="dropdown-icon fe fe-user"></i> Profile</a>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="dropdown-icon fe fe-log-out"></i> Se déconnecter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Page title and tab -->
        <div class="section-body">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="header-action">
                        <h1 class="page-title">{% block title_page %} {% endblock %}</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href={{ path('panel') }}>Legends Roleplay</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% block title_page2 %} {% endblock %}</li>
                        </ol>
                    </div>
                    {% if navTabsActions is defined %}
                        <ul class="nav nav-tabs page-header-tab">
                            {% for action in  navTabsActions %}
                                <li class="nav-item"><a class="nav-link" href={{path(action.route)}}>{{ action.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block body %} {% endblock %}
        <!-- Start main footer -->
        <div class="section-body">
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            Copyright © 2022 <a href="#">Legends</a>.
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
    <!-- Modals -->
    {% block modal %} {% endblock %}

    <!-- Start Main project js, jQuery, Bootstrap -->
    <script src={{asset("assets/bundles/lib.vendor.bundle.js")}} ></script>

    <!-- Start all plugin js -->
    <script src={{asset("assets/bundles/counterup.bundle.js")}} ></script>
    <script src={{asset("assets/bundles/apexcharts.bundle.js")}} ></script>
    <script src={{asset("assets/bundles/summernote.bundle.js")}} ></script>

    <!-- Start project main js  and page js -->
    <script src={{asset("assets/js/core.js")}} ></script>
    <script src={{asset("assets/js/form/dropify.js")}}></script>
    <script src={{asset("assets/js/page/index.js")}} ></script>
    <script src={{asset("assets/js/page/summernote.js")}} ></script>
    <script>
        $(document).ready(function () {
            window.setTimeout(function() {
                $(".alert").fadeTo(300, 0).slideUp(300, function(){
                    $(this).remove();
                });
            }, 2500);
            $('.metismenu li').each(function() {
                if (String(location).includes($(this).find('a').attr('href'))) {
                    $('.metismenu li.active').removeClass('active');
                    $(this).addClass('active');
                }
            });
        });
    </script>
    {% block javascripts %}

    {% endblock %}

</body>

</html>
