<!doctype html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="icon" href={{asset("assets/images/faviconR.ico")}} type="image/x-icon"/>
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap Core and vandor -->
        <link rel="stylesheet" href={{asset("assets/plugins/bootstrap/css/bootstrap.min.css")}} />

        <!-- Core css -->
        <link rel="stylesheet" href={{asset("assets/css/style.min.css")}} />
        <link rel="stylesheet" href={{asset("assets/css/style.css")}} />

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="font-muli dark-mode gradient background-legend">
    <div class="auth d-flex flex-column align-items-center">
        <div class="frame-cart d-flex align-items-center vh-100">
            <div class="card card-legend">
                <div class="card-body text-center">
                    {% block logo_error %}
                    {% endblock %}
                    <div class="display-3 text-muted">
                        {% block fa %}
                        {% endblock %}
                    </div>
                    <h1 class="h3 mb-3 text-danger title-error1">{% block message %}{% endblock %}</h1>
                    {#                <p class="h6 text-muted font-weight-normal mb-3 text-danger title-error1">Erreur&hellip;</p>#}
                    {% block urlRedirection %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block body %}

    {% endblock %}
    <script src={{  asset("assets/bundles/lib.vendor.bundle.js") }}></script>
    <script src={{  asset("assets/js/core.js") }}></script>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>