{% extends 'base_panel.html.twig' %}
{% block title %}:: Legends :: Whitelist validation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/dataTables.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}>
{% endblock %}

{% block title_page %}Profile {% endblock %}
{% block title_page2 %}Profile {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row clearfix font-weight-bold">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="widgets1">
                            <div class="icon">
                                <i class="fas fa-briefcase font-30"></i>
                            </div>
                            <div class="details">
                                <h6 class="mb-0 font600">Emploi</h6>
                                <span class="mb-0">-</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="widgets1">
                            <div class="icon">
                                <i class="fas fa-money-check-alt text-warning font-30"></i>
                            </div>
                            <div class="details">
                                <h6 class="mb-0 font600">Véhicule(s)</h6>
                                <span class="mb-0">-</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="widgets1">
                            <div class="icon">
                                <i class="fas fa-money-check-alt font-30"></i>
                            </div>
                            <div class="details">
                                <h6 class="mb-0 font600">RIB</h6>
                                <span class="mb-0">{{ rib }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="widgets1">
                            <div class="icon">
                                <i class="fas fa-university text-primary font-30"></i>
                            </div>
                            <div class="details">
                                <h6 class="mb-0 font600">Banque</h6>
                                <span class="mb-0 text-success">{{ money }} $</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Mon profile</h3>
                                <div class="card-options">
                                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <div class="card-body form-horizontal">
                                {# UserName #}
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"><i class="fe fe-user font-weight-bold"></i></label>
                                    <div class="col-md-7">
                                        {{ form_row(form.userNameGame,{'attr': {'class': 'form-control','placeholder':"Username"}}) }}
                                    </div>
                                </div>
                                {# Email #}
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"><i class="fe fe-at-sign font-weight-bold"></i></label>
                                    <div class="col-md-7">
                                        {{ form_row(form.email,{'attr': {'class': 'form-control','placeholder':"Email"}}) }}
                                    </div>
                                </div>
                                {# Steam #}
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">
                                        <img src={{ asset('assets/images/steam.png') }} alt="steam" class="ion profile-icon-social">
                                    </label>
                                    <div class="col-md-7">
                                        {{ form_row(form.steamId,{'attr': {'class': 'form-control','placeholder':"Steam"}}) }}
                                    </div>
                                </div>
                                {# Discord #}
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">
                                        <img src={{ asset('assets/images/Discord.svg.png') }} alt="steam" class="ion profile-icon-social">
                                    </label>
                                    <div class="col-md-7">
                                        {{ form_row(form.discordId,{'attr': {'class': 'form-control','placeholder':"Steam"}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}