{% extends 'template_display_message.html.twig' %}
{% block title %}:: Legends :: Error{% endblock %}
{% block logo_error %}
    <div class="stack" style="--stacks: 3;">
        <span style="--index: 0;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512_error.png")}}" alt="Logo"></span>
        <span style="--index: 1;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512_error.png")}}" alt="Logo"></span>
        <span style="--index: 2;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512_error.png")}}" alt="Logo"></span>
    </div>
{% endblock %}
{% block message %}Une erreur s'est produite veuillez vous reconnecter{% endblock %}
{% block urlRedirection %}
    <a class="btn btn-danger btn-legend" href={{ path('app_logout')}}>
        <i class="fa fa-arrow-left pr-2" aria-hidden="true"></i>
        Se déconnecter
    </a>
{% endblock %}