{% extends 'template_display_message.html.twig' %}
{% block title %}:: Legends :: 401{% endblock %}
{% block logo_error %}
    <div class="stack" style="--stacks: 3;">
        <span style="--index: 0;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512_401.png")}}" alt="Logo"></span>
        <span style="--index: 1;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512_401.png")}}" alt="Logo"></span>
        <span style="--index: 2;"><img class="brand-logo" src="{{asset("assets/images/logo2_512x512_401.png")}}" alt="Logo"></span>
    </div>
{% endblock %}
{% block message %}Votre session est expiré{% endblock %}
{% block urlRedirection %}
    vous serez redirigé vers la page de connexion
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            setTimeout(function(){
                let url = location.origin+"{{ path('app_logout')|escape('js') }}";
                location.href = url;
            }, 5000);
        });
    </script>
{% endblock %}