<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!--[if mso]><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch><o:AllowPNG/></o:OfficeDocumentSettings></xml><![endif]-->
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
        }

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: inherit !important;
        }

        #MessageViewBody a {
            color: inherit;
            text-decoration: none;
        }

        p {
            line-height: inherit
        }

        .desktop_hide,
        .desktop_hide table {
            mso-hide: all;
            display: none;
            max-height: 0px;
            overflow: hidden;
        }

        @media (max-width:670px) {
            .desktop_hide table.icons-inner {
                display: inline-block !important;
            }

            .icons-inner {
                text-align: center;
            }

            .icons-inner td {
                margin: 0 auto;
            }

            .row-content {
                width: 100% !important;
            }

            .mobile_hide {
                display: none;
            }

            .stack .column {
                width: 100%;
                display: block;
            }

            .mobile_hide {
                min-height: 0;
                max-height: 0;
                max-width: 0;
                overflow: hidden;
                font-size: 0px;
            }

            .desktop_hide,
            .desktop_hide table {
                display: table !important;
                max-height: none !important;
            }
        }
    </style>
</head>

<body style=" margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;background-image: url('https://ucp.legends-roleplay.com/assets/images/backgroundWebSite.png');background-position: top center; background-size: auto;">
<table border="0" cellpadding="0" cellspacing="0" class="nl-container" role="presentation"
       style="margin-top: 15vh;mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
    <tbody>
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="row row-1"
                   role="presentation"
                   style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 5vh 0;"
                   width="100%">
                <tbody>
                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0"
                               class="row-content stack" role="presentation"
                               style="border-radius: 5px;mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #180004; color: #000000; background-size: auto; width: 650px;"
                               width="650">
                            <tbody>
                            <tr>
                                <td class="column column-1"
                                    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 45px; padding-bottom: 0px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                                    width="100%">
                                    <table border="0" cellpadding="5" cellspacing="0"
                                           class="image_block" role="presentation"
                                           style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;"
                                           width="100%">
                                        <tr>
                                            <td>
                                                <div align="center" style="line-height:10px"><img
                                                            alt="Forgot your password?"
                                                            src="https://ucp.legends-roleplay.com/assets/images/logo2_512x512.png"
                                                            style="display: block; height: auto; border: 0; width: 163px; max-width: 100%;"
                                                            title="Forgot your password?" width="163" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0"
                                           class="heading_block" role="presentation"
                                           style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;"
                                           width="100%">
                                        <tr>
                                            <td style="padding-top:35px;text-align:center;width:100%;">
                                                <h1
                                                        style="margin: 0; color: #8412c0; direction: ltr; font-family: 'Cabin', Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 28px; font-weight: 400; letter-spacing: normal; line-height: 120%; text-align: center; margin-top: 1vh; margin-bottom: 1vh;">
                                                    <span style="color: #ffffff;">Bienvenue à Legends Roleplay : <br>vous êtes invité à un entretien vocal</span>

                                                </h1>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" class="text_block"
                                           role="presentation"
                                           style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;"
                                           width="100%">
                                        <tr>
                                            <td
                                                    style="padding-left:45px;padding-right:45px;padding-top:10px;">
                                                <div style="font-family: Arial, sans-serif">
                                                    <div class="txtTinyMce-wrapper"
                                                         style="font-size: 12px; font-family: 'Cabin', Arial, 'Helvetica Neue', Helvetica, sans-serif; mso-line-height-alt: 18px; color: #393d47; line-height: 1.5;">
                                                        <p
                                                                style="margin: 0; font-size: 18px; text-align: center; mso-line-height-alt: 27px;">
																			<span
                                                                                    style="font-size:18px;color:#ffffff;">Nous vous invitons à rejoindre le discord pour passer l'entretien.</span>
                                                            <a
                                                                    href="https://discord.gg/p7JWSxgEfF"
                                                                    target="_blank"
                                                                    style="display: block;margin: 0 12vw;"
                                                            ><img alt="Facebook"
                                                                                         height="100"
                                                                                         src="https://upload.wikimedia.org/wikipedia/fr/thumb/0/05/Discord.svg/1200px-Discord.svg.png"
                                                                                         style="display: block; height: auto; border: 0;"
                                                                                         title="discord" width="100" /></a>
                                                        </p>
                                                        <p
                                                                style="margin: 0; font-size: 18px; text-align: center; mso-line-height-alt: 27px;">
																			<span
                                                                                    style="font-size:18px;color:#ffffff;">Si vous rencontrez un problème, vous pouvez contacter l'équipe d'assistance</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="0" cellpadding="20" cellspacing="0"
                                           class="divider_block" role="presentation"
                                           style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;"
                                           width="100%">
                                        <tr>
                                            <td>
                                                <div align="center">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                           role="presentation"
                                                           style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;"
                                                           width="80%">
                                                        <tr>
                                                            <td class="divider_inner"
                                                                style="font-size: 1px; line-height: 1px; border-top: 1px solid #484848;">
                                                                <span> </span></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" class="text_block"
                                           role="presentation"
                                           style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;"
                                           width="100%">
                                        <tr>
                                            <td
                                                    style="padding-bottom:10px;padding-left:45px;padding-right:45px;padding-top:10px;">
                                                <div style="font-family: Arial, sans-serif">
                                                    <div class="txtTinyMce-wrapper"
                                                         style="font-size: 12px; font-family: 'Cabin', Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: center; mso-line-height-alt: 18px; color: #393d47; line-height: 1.5;">
                                                        <p
                                                                style="margin: 0; mso-line-height-alt: 19.5px;">
																			<span
                                                                                    style="
                                                                                    font-size:25px;
                                                                                    color:#ffffff;
                                                                                    text-transform: uppercase">

                                                                                Stay Legends</span></p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="0" cellpadding="10" cellspacing="0"
                                           class="button_block" role="presentation"
                                           style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;"
                                           width="100%">
                                        <tr>
                                            <td>
                                                <div align="center">
                                                    <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://www.example.com" style="height:54px;width:335px;v-text-anchor:middle;" arcsize="0%" strokeweight="0.75pt" strokecolor="#000000" fillcolor="#000000"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#ffffff; font-family:Arial, sans-serif; font-size:16px"><![endif]-->
                                                    <!--[if mso]></center></v:textbox></v:roundrect><![endif]-->
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="row row-2"
                   role="presentation"
                   style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; " width="100%">
                <tbody>
                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0"
                               class="row-content stack" role="presentation"
                               style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 650px;"
                               width="650">
                            <tbody>
                            <tr>
                                <td class="column column-1"
                                    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 10px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                                    width="100%">
                                    <table border="0" cellpadding="10" cellspacing="0"
                                           class="social_block" role="presentation"
                                           style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;"
                                           width="100%">
                                        <tr style="background: linear-gradient(79deg, #323030,#180004) !important;border-radius: 25px;">
                                            <td>
                                                <table align="center" border="0" cellpadding="0"
                                                       cellspacing="0" class="social-table"
                                                       role="presentation"
                                                       style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;"
                                                       width="72px">
                                                    <tr>
                                                        <td style="padding:0 2px 0 2px;"><a
                                                                    href="https://www.facebook.com/legendsrplay"
                                                                    target="_blank"><img alt="Facebook"
                                                                                         height="32"
                                                                                         src="https://i.postimg.cc/qRCDxnvv/facebook-mail.png"
                                                                                         style="display: block; height: auto; border: 0;"
                                                                                         title="facebook" width="32" /></a>
                                                        </td>
                                                        <td style="padding:0 2px 0 2px;"><a
                                                                    href="https://www.instagram.com/legendsrplay/"
                                                                    target="_blank"><img alt="Instagram"
                                                                                         height="32"
                                                                                         src="https://i.postimg.cc/yYKp0D47/instagram-mail.png"
                                                                                         style="display: block; height: auto; border: 0;"
                                                                                         title="Instagram" width="32" /></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table><!-- End -->
</body>

</html>