<!doctype html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="icon" href={{asset("assets/images/faviconR.ico")}} type="image/x-icon"/>
    <title>Send Email</title>
    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href={{asset("assets/plugins/bootstrap/css/bootstrap.min.css")}} />

    <!-- Core css -->
    <link rel="stylesheet" href={{asset("assets/css/style.min.css")}} />
    <link rel="stylesheet" href={{asset("assets/css/style.css")}} />

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1> Les courriels ont été envoyés avec succès</h1>
        <h2>Liste des joueurs : Entretien Vocale</h2>
        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="Library-all">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Date de création</th>
                                            <th>Steam_Id</th>
                                            <th>Discord_Id</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in list_users %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ user.userNameGame }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.createdAt|date("d/m/Y") }}</td>
                                                <td>{{ user.steamId }}</td>
                                                <td>{{ user.discordId }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src={{ asset('assets/js/page/dialogs.js')}} ></script>
    <script src={{ asset('assets/js/table/datatable.js')}} ></script>
</body>